.asideNavigation {
  width: 100%;
  margin-bottom: 30px;

  h3 {
    display: none;
  }

  &__list {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  &__item {
    color: $color-blue-dark;
    margin: 5px;
    font-size: 16px;
    background-color: $color-gray;
    border-radius: 5px;
    padding: 5px;
  }

  @include breakpoint($sm) {
    &__list {
      justify-content: flex-start;
    }
  }

  @include breakpoint($md) {
    width: 15%;

    h3 {
      display: initial;
    }

    &__list {
      display: initial;
    }

    &__item {
      color: $color-blue-dark;
      margin: 10px 0;
      background-color: transparent;
      display: block;

      &:hover {
        padding-left: 15px;
        transition: all 0.5s;
      }
    }
  }

  // @media (prefers-color-scheme: dark) {
  //   &__item {
  //     color: $color-white;
  //   }
  // }
}
