.certification {
  background: rgba(255, 204, 0, 0.09);
  padding: 10px 15px;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0px rgb(213, 213, 209);

  &__content {
    h3 {
      margin-bottom: 20px;
    }

    a {
      color: #2c3e50;
      text-decoration: underline;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
