.video {
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;

  @include breakpoint($sm) {
    width: 30%;
  }

  a {
    color: $color-blue-dark;
    white-space: normal;
  }

  iframe {
    width: 100%;
    margin-bottom: 30px;
    height: 180px;

    @include breakpoint($sm) {
      max-width: 250px;
    }

    @include breakpoint($md) {
      height: 120px;
    }
  }

  p {
    font-size: 14px;
    margin-top: 5px;

    @media (prefers-color-scheme: dark) {
      color: $color-white;
    }
  }
}
